#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>





/ {


    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LS(F24)>, <&bt BT_SEL 0>, <&bt BT_SEL 1>, <&bt BT_CLR>;
        };
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LS(F22)>, <&bootloader>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp LS(F15)  &kp LS(F16)  &kp ENTER  &kp LS(F18)  &kp LS(F19)  &kp LS(F20) &kp LS(F21)  &td1  &kp LS(F23)  &td0
            >;
        };

    };
};